parameters:
    level: 6
    paths:
        - src
        - src/RCS
        - ./entryPoint.php
    excludePaths:
        - vendor
    ignoreErrors:
        - identifier: class.notFound

        # WordPress functions
        
        # Enfold theme functions
        #- '#Function av_icon_string not found#'
        #- '#Function avia_backend_truncate not found#'
        #- '#Function avia_get_option not found#'
        #- '#Function avia_layout_class not found#'
        #- '#Function avia_markup_helper not found#'
        #- '#Function avia_title not found#'
        #- '#Function avia_which_archive not found#'

        # WordPress class members
        #- '#Access to property \$post_content on an unknown class WP_Post#'
        #- '#Access to property \$post_type on an unknown class WP_Post#'

        # WordPress Constants
